.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


body{
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: gainsboro;
}

.counter-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1{
  font-size: 50px;
  letter-spacing: 0.5px;
}

.counter-value{
  font-size: 5rem;
  padding-bottom: 1rem;
}

button{
  background-color: white;
  border: transparent;
  size: 5rem;
  padding: 0.7rem 1rem;
  margin: 0.5rem;
  font-size: 1rem;
  border-radius: 5px;
  box-shadow: 10px 10px 10px;
}